.vscode/settings.json

# bootstrap E-kart project assets
Bootsrap_practice/e_kart_bootstrap/assets/
package.json
.prettierrc
node_modules
.eslintrc.json
package-lock.json
Bootsrap_practice/Bootstrap 5 learn/bootstrap-5.0.0-beta1-dist
