*, ::before, ::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: #efefef;
    color: #333;
    font-family: basic-sans, sans-serif;
}

.first-example{
    display: block;
}

.example{
    padding: 2em;
    width: 50%;
    margin: 1em auto;
    background: teal;
}

/* Adjacent sibling selector */

.example + .example{
    background: tomato;
}