*, ::before, ::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: basic-sans, sans-serif;
}

.first-example{
    background: palegoldenrod;
    height: 50vh;
    width: 80vw;
    padding: 0.5em;
    margin: 25vh auto 0;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.example{
    background: teal;
    margin: 0.5em;
}

.one{
    /* flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 250px; */
    /* grouped to */
    flex: 1 1 250px;
}

.two{
    flex: 1 1 250px;
}

.three{
    flex: 3 3 250px;
}